.title {
    font-family: 'Goldman';
    font-weight: 700;
    font-size: 60.4591px;
    line-height: 73px;
}

.chill {
    width: 122px;
    height: 43px;

    font-family: 'Goldman';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 43px;
}